@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
$fontMerri:'Merriweather', serif;
$fontMerriSan: 'Merriweather Sans', sans-serif;
$color-grey:rgba(255, 255, 255, 0.7);
$color-greyLight:rgba(255, 255, 255, 0.5);
$color-orange:#f4623a;
$color-black:#212529;
$color-muted:#6c757d;
$color-dark:#343a40;